<div class="row mt-2">
  <div class="col-md-4">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">Dane</div>
      <div class="card-body form-group">

        <input [(ngModel)]="user" placeholder="User" class="form-control" type="text">
        <input [(ngModel)]="pass" class="form-control mt-1 " placeholder="Old password" type="password">
        <input [(ngModel)]="new_pass" class="form-control mt-1" placeholder="New password"  type="password">
      </div>
    </div>

    <div class="card text-white bg-dark mb-3 ">
      <div class="card-header">Checker</div>
      <div class="card-body form-group">
        <button (click)="check_password()" class="btn btn-success "> Check password</button><br>
        <button (click)="change_password()" class="btn btn-success mt-3"> Change password</button>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">Wynik</div>
      <div class="card-body ">
        <ng-container *ngIf="output.length>0">
          <pre class="text-white">{{output}}</pre>
        </ng-container>

      </div>
    </div>
  </div>


</div>
