<div class="row mt-2">
    <div class="col-md-4">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Klucz</div>
            <div class="card-body form-group">

                <input [(ngModel)]="adminpass" class="form-control" type="password">

            </div>
        </div>

        <div class="card text-white bg-dark mb-3 ">
            <div class="card-header">Komendy</div>
            <div class="card-body form-group">
                <input [(ngModel)]="command" class="form-control" type="text">
                <button (click)="executeCommand()" class="btn btn-success mt-3"> Run command</button>

            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">Wynik</div>
            <div class="card-body ">
                <ng-container *ngIf="errors.length<1">
                    <pre class="text-white" *ngFor="let g of output">{{g}}</pre>
                </ng-container>

                <ng-container *ngIf="errors.length>0">
                    <pre class="text-white" *ngFor="let g of errors">{{g}}</pre>
                </ng-container>
            </div>
        </div>
    </div>


</div>
